

ion-title {
    text-align: center;
}

.conditions {
    padding: 2rem;
    position: absolute;
    bottom: 1rem;
}

ion-card {
    display: contents;
}

.existing-projects {
    text-align: center;
}

.button-md {
    margin-bottom: 3em;
}
